{% macro book_form(book, styles) %}
<form method="POST" enctype="multipart/form-data">
  <div class="container d-flex flex-column align-items-stretch justify-content-center w-75">
    <div class="form-floating my-2">
      <input type="text" class="form-control" id="title" name="title" placeholder="Название книги" value="{{ book.title }}">
      <label for="floatingInput">
          Название
      </label>
    </div>
    <select class="form-select mb-2" multiple aria-label="Multiple select example" name="style">
      {% for style in styles %}
        <option value="{{ style.id }}" {% if style in book.styles %}selected{% endif %}> {{ style.style_name }}</option>
      {% endfor %}
    </select>
    <textarea name="short_description"></textarea>
    <div class="form-floating mb-2">
      <input type="number" class="form-control" id="year" name="year" placeholder="Год выпуска" required min="1" max="9999" value="{{ book.year }}">
      <label for="floatingInput">
          Год выпуска
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Издатель" value="{{ book.publisher }}">
      <label for="floatingInput">
          Издатель
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="author" name="author" placeholder="Автор" value="{{ book.author }}">
      <label for="floatingInput">
          Автор
      </label>
    </div>
    <div class="form-floating mb-2">
      <input type="number" class="form-control" id="pages" name="pages" placeholder="Количество страниц" required min="1" max="9999" value="{{ book.pages }}">
      <label for="floatingInput">
          Количество страниц
      </label>
    </div>
    {% if not book%}
    <div class="mb-2">
      <label for="formFile" class="form-label">Обложка книги</label>
      <input type="file" class="form-control" id="formFile" name="file">
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary my-2">Отправить</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script>
  const easyMDE = new EasyMDE()
  easyMDE.value(`{{ book.short_description | safe if book.short_description else 'Краткое описание' }}`)
</script>
{% endmacro %}
